@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Oxygen&display=swap');

/* other mods */
main {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

body {
    background-color: #fcfbfb;
    font-family: 'Cabin', sans-serif, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FCA311;
}

nav a:hover {
    background-color: #14213D;
    color: #FCA311;
}

nav a {
    text-align: center;
    color: #14213D;
    text-decoration: none;
    padding: 35px;
}

footer {
    background-color: #FCA311;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #000;
}

footer a {
    text-align: center;
    color: #000;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover {
    color: #FCA311;
    background-color: #14213D;
    text-decoration: underline;
}

h2 {
    margin: 0;
}

h4 {
    color: #000000;
}

/* ID mods */
#id {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#background {
    background-color: #FCA311;
    height: 725px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

/* Class mods */
.button-box {
    text-align: center;
}

.book,
.join {
    text-align: center;
    background-color: #FCA311;
    color: #14213D;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #14213D;
    color: #FCA311;
}

.home-title {
    color: #000000;
    font-size: 2em;
    font-family: 'Oxygen', 'Cabin', sans-serif, serif;
    margin-top: 10px;
}

.msg {
    background-color: #14213D;
    color: #E5E5E5;
    text-align: center;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #FCA311;
}

.msg p {
    color: #E5E5E5;
    font-size: .8em;
    padding-bottom: 15px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #14213D;
}

/* Colour scheem
<td class="primary">000000</td> black
<td class="secondary">14213D</td> blue
<td class="accent1">FCA311</td> ornage
<td class="accent2">E5E5E5</td> grey
*/